discord.py~=1.5.0
humanize~=2.6.0
aiohttp~=3.6.2
matplotlib~=3.3.1
psutil~=5.7.2
aiogoogletrans~=3.3.2
async_cleverbot
async_cse
jikanpy~=4.2.2
asyncpg~=0.21.0
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Gelbpunkt/aiowiki
utils~=1.0.1
validator_collection
aiotrivia~=2.0.1
git+https://github.com/niztg/aiotrivia
Unidecode~=1.1.1
discord-flags~=2.1.1
sr_api
jishaku~=1.19.1.200
tabulate~=0.8.7
PyDictionary~=2.0.1
discord~=1.0.1